<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body dir="rtl">
  <div class="outer">
    <div class="footer">
      <div class="footies text-light text-center">العنوان : 13 شارع سعيد بهجت متفرع من فريد سميكة - ميدان الحجاز<br>
      01016963617  &  01013133597  &  844 39 263 - 02</div>
      <div class="footies"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.263381466996!2d31.343615585468385!3d30.11527602217916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581551e56b2c9f%3A0xc277398e4b33bc96!2sVision%20art!5e0!3m2!1sar!2seg!4v1647460135775!5m2!1sar!2seg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>
    <div class="footer2 text-light"> <bdi class="text-light"> جميع الحقوق محفوظة </bdi>   <bdi class="text-light"> 2022 &copy;</bdi>
      <a dir="ltr" class="text-white" href="#">Team 2 /</a></div>
    </div>


</body>
</html>

