<head>
  <meta charset="UTF-8" >
  <style>
    *{
      direction: rtl;
    }
  </style>



</head>
<body dir="rtl" >

<div class="container">

  <!-- <div class="container"> -->


    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="container">

      <h2 class="text-center  ourServices">خدماتنا</h2>
      <br> <br> <br>

      <div class="container">
        <div class="card-columns">
          <div class="card ">
            <a routerLink="/inout">
            <img class="card-img-top  imgg " src="assets/img/outdoor.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم ان دور و اوت دور والكاتربلوتر</h5>
          </div>
            </a>
          </div>
          <div class="card ">
            <a routerLink="/silk">
            <img class="card-img-top imgg" src="assets/img/silk.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم طباعة السلك سكرين</h5>
            </div>
            </a>
          </div>
          <div class="card ">
            <a routerLink="/digital">
            <img class="card-img-top imgg" src="assets/img/digital.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم الطباعة الديجيتال</h5>
            </div>
            </a>
          </div>
          <div class="card ">
            <a routerLink="/uv">
            <img class="card-img-top imgg" src="assets/img/UV.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم طباعة UV</h5>
            </div>
            </a>
          </div>
          <div class="card">
            <a routerLink="/offset">
            <img class="card-img-top imgg" src="assets/img/ofset.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم الأوفست</h5>
            </div>
            </a>
          </div>
          <div class="card">
            <a routerLink="/sumblimation">
            <img class="card-img-top imgg" src="assets/img/transfere.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم طباعة سبليمشن وترانسفير</h5>
            </div>
            <div>
            </div>
            </a>
          </div>
        </div>
        <!-- herrrrrrre -->

        <div class="card-columns">
          <div class="card">
            <a routerLink="/clading">
            <img class="card-img-top imgg" src="assets/img/clad.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم اللافتات والواجھات الكلادینج والأكلریلیك</h5>
          </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
            <img class="card-img-top imgg" src="assets/img/expo.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم تجھیز المعارض</h5>
            </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
            <img class="card-img-top imgg" src="assets/img/2-3d.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم التصمیم 3D & 2D</h5>
            </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
            <img class="card-img-top imgg" src="assets/img/photo.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم التصویر الفوتوغرافي (خاص بالمنتجات)</h5>
            </div>
            </a>
          </div>
          <div class="card">
            <a routerLink="/lazer">
            <img class="card-img-top imgg" src="assets/img/lazer.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم طباعة الليزر </h5>
            </div>
            </a>
          </div>
          <div class="card">
            <a href="#">
            <img class="card-img-top imgg" src="assets/img/baner.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">قسم الاستاندات  </h5>
            </div>
            </a>
          </div>


        </div>


      </div>
    </div>
    <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->




  <!-- </div> -->
</div>

</body>
