<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <title>Document</title>
</head>

<body dir="rtl">

  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="text-black" style="direction: ltr;">
              <i class="fa fa-phone"></i> 02 - 263 39 844 &nbsp;<i class="fa fa-envelope-o"></i><a href="visionarteg@gmail.com"> visionarteg@gmail.com</a> &nbsp;
              <a href="https://www.facebook.com/visionartadv" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
        </div>
      </div>
    </div>
 </div>

  <!-- -------------------------------------------------------------- -->
  
  <nav class="navbar navbar-expand-lg navbar-light nav_color sticky-top ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- <img src="assets/img/logo.png" > -->


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link font_txt text-center" href="#">الرئيسية <span class="sr-only">(current)</span></a>
        </li> &nbsp; &nbsp; &nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font_txt text-center" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           خدماتنا
          </a>
          <div dir="rtl" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a dir="rtl" class="dropdown-item drop_txt" routerLink="/inout">قسم ان دور واوت دور والكاتربلوتر
            </a>
            <a dir="rtl" class="dropdown-item drop_txt" routerLink="/digital"> قسم الطباعة الدیجیتال
            </a>
            <a class="dropdown-item drop_txt" routerLink="/offset"> قسم الطباعة الأوفست</a>
            <a class="dropdown-item drop_txt" routerLink="/silk"> قسم طباعة السلك سكرین</a>
            <a class="dropdown-item drop_txt" routerLink="/uv">قسم طباعة UV</a>
            <a class="dropdown-item drop_txt" routerLink="/sumblimation">قسم طباعة سبلیمشن وترانسفیر</a>
            <a class="dropdown-item drop_txt" routerLink="/clading">قسم اللافتات والواجھات الكلادینج والأكلریلیك</a>
            <!-- <a class="dropdown-item drop_txt" href="#">قسم تجھیز المعارض</a> -->
            <!-- <a class="dropdown-item drop_txt" href="#">قسم التصميم 2D & 3D</a> -->
            <!-- <a class="dropdown-item drop_txt" href="#">قسم التصوير الفوتوغرافي (خاص بالمنتجات)</a> -->
            <a class="dropdown-item drop_txt" routerLink="/lazer">قسم الليزر</a>
            <!-- <a class="dropdown-item drop_txt" href="#">قسم الاستاندات</a> -->
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link font_txt text-center" href="#part">شركاء النجاح</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link font_txt text-center" routerLink="/ContactUs">اتصل بنا</a>
        </li>&nbsp; &nbsp; &nbsp;

      </ul>
    </div>
    <div>
        <img src="assets/img/logo.png" class="logo_position" >
    </div>

  </nav>


  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

  </body>
  </html>